* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#square{
    width: 800px;
    height: 800px;
    background-color: black;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    
}

.cell {
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 2px solid white;
    background-color: burlywood;
    text-align: center;
    line-height: 80px;
    
  }

  .bg-lightblue{
    background-color: lightblue;
  }